<%-- any content can be specified here e.g.: --%>
<%@ page pageEncoding="UTF-8" %>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">${addClientButton}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" novalidate method="post" action="ServletControlador">
                    <div class="form-row pb-3">
                        <div class="col-md-6 mb-3">
                            <label for="name">${colName}</label>
                            <input type="text" pattern=".{3,}"  class="form-control" name="name" id="name" value="" required autofocus>
                            <div class="valid-tooltip">Todo bien!</div>
                            <div class="invalid-tooltip">Minimo 3 caracteres</div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="surname">${colSurname}</label>
                            <input type="text" pattern=".{3,}"  class="form-control" id="surname" name="surname" value="" required autofocus>
                            <div class="valid-tooltip">Todo bien!</div>
                            <div class="invalid-tooltip">Minimo 3 caracteres</div>
                        </div>
                    </div>
                    <div class="form-row pb-3">
                        <div class="col-md-6 mb-3">
                            <label for="email">${colEmail}</label>
                            <input type="email" class="form-control" id="email" name="email" value="" required autofocus>
                            <div class="valid-tooltip">Todo bien!</div>
                            <div class="invalid-tooltip">Email invalido</div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="phone">${colPhone}</label>
                            <input type="tel" name="phone" pattern="^[0-9\-\+]{10,10}$" class="form-control" required autofocus>
                            <div class="valid-tooltip">Todo bien!</div>
                            <div class="invalid-tooltip">10 numeros</div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="phone">${colBalance}</label>
                            <input type="number" name="balance" step="0.01" class="form-control" placeholder="0.00" required autofocus>
                            <div class="valid-tooltip">Todo bien!</div>
                            <div class="invalid-tooltip">Solo numeros o decimal</div>
                        </div>
                    </div>
                    <input type="hidden" id="id" name="accion" value="insertar">
                    <div class="p-3">
                        <button class="btn btn-primary btn-block" type="submit">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
